<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Control Pass</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

        <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>

        <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>

        <link th:href="@{/css/style.css}" rel="stylesheet"/>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">


                    <a class="navbar-brand" href="/">Control Pass</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ><a href="/projetos">Professor</a></li>
                        <li ><a href="index">Administrador</a></li>
                        <li ><a href="InicioResponsavel">Responsavel</a></li>
                    </ul>
                    <!--
                    -->

                </div>
            </div>
        </nav>

        <!--<div class="container" >
            <div layout:fragment="content">O conteúdo das páginas filhas aparecerão aqui.</div>	
        </div>-->



        <!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>

        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->		
    </body>
</html>